.scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .scroll-loading {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}
